# Data Ingestion & Engineering
requests==2.32.3
feedparser==6.0.11
pandas==2.2.2

# Machine Learning & NLP Inference
transformers==4.42.3
torch==2.3.1 --extra-index-url https://download.pytorch.org/whl/cpu
huggingface_hub==0.23.4

# Presentation Dashboard UI
streamlit==1.36.0